/* Typography */
@font-face {
    font-family: "GE_Flow_Bold";
    src: url("../fonts/GE-Flow-Bold.otf");
  }
  
  @font-face {
    font-family: "GE_Flow_Regular";
    src: url("../fonts/GE-Flow-Regular.otf");
  }
  
  @font-face {
    font-family: "GE_Dinar_Two_Medium";
    src: url("../fonts/GE_Dinar_Two_Medium.otf");
  }
  
  @font-face {
    font-family: "Roboto_Light";
    src: url("../fonts/Roboto-Light.ttf");
  }
  
  @font-face {
    font-family: "Roboto_Bold";
    src: url("../fonts/Roboto-Bold.ttf");
  }